<div class="container">
  <h3 class="d-flex flex-row">Classes</h3>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered table-hover m-0">
        <thead>
          <tr>
            <th scope="col">Class Name</th>
            <th scope="col">Location</th>
            <th scope="col">Teacher Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="onSelect(class)" *ngFor="let class of classes">
            <th scope="row">{{ class.className }}</th>
            <td>{{ class.location }}</td>
            <td>{{ class.teacherName }}</td>
            <td><a [routerLink]="['/class/', class.id]">Edit</a></td>
            <td><a (click)="delete(class.id)" class="text-danger">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-end col-4">
      <div class="d-flex align-items-end">
        <a routerLink="/class/new" class="btn btn-primary justify-content-end">Add</a>
      </div>
    </div>
  </div>

  <app-students *ngIf="selectedClass" [classModel]="selectedClass"></app-students>
</div>